<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- SMTP configuration for EmailUtil (change values to your SMTP provider) -->
    <context-param>
        <param-name>mail.host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>mail.port</param-name>
        <param-value>465</param-value>
    </context-param>
    <context-param>
        <param-name>mail.starttls</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>mail.ssl</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>mail.username</param-name>
        <param-value>bhieu3009@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>mail.password</param-name>
        <param-value>dsqd kfpe nsuk tvpk</param-value>
    </context-param>
    <context-param>
        <param-name>mail.from</param-name>
        <param-value>bhieu3009@gmail.com</param-value>
    </context-param>
    <!-- Unit Servlets (annotation-based already, this is optional for Jakarta EE 10) -->
    <servlet>
        <servlet-name>ListUnitServlet</servlet-name>
        <servlet-class>controller.web.unit.ListUnitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUnitServlet</servlet-name>
        <servlet-class>controller.web.unit.DeleteUnitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListUnitServlet</servlet-name>
        <url-pattern>/units</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUnitServlet</servlet-name>
        <url-pattern>/delete-unit</url-pattern>
    </servlet-mapping>
</web-app>
