<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>PermissionGroupController</servlet-name>
        <servlet-class>controller.PermissionGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListEmployees</servlet-name>
        <servlet-class>controller.Admin.ListEmployees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployees</servlet-name>
        <servlet-class>controller.Admin.UpdateEmployees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployees</servlet-name>
        <servlet-class>controller.Admin.DeleteEmployees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployees</servlet-name>
        <servlet-class>controller.Admin.AddEmployees</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>PermissionGroupController</servlet-name>
        <url-pattern>/permissionGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListEmployees</servlet-name>
        <url-pattern>/listEmployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployees</servlet-name>
        <url-pattern>/updateEmployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployees</servlet-name>
        <url-pattern>/deleteEmployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployees</servlet-name>
        <url-pattern>/addEmployees</url-pattern>
    </servlet-mapping>
    
    <!-- Unit Servlets (annotation-based already, this is optional for Jakarta EE 10) -->
    <servlet>
        <servlet-name>ListUnitServlet</servlet-name>
        <servlet-class>controller.web.unit.ListUnitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUnitServlet</servlet-name>
        <servlet-class>controller.web.unit.DeleteUnitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListUnitServlet</servlet-name>
        <url-pattern>/units</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUnitServlet</servlet-name>
        <url-pattern>/delete-unit</url-pattern>
    </servlet-mapping>
    
</web-app>
