<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>PermissionGroupController</servlet-name>
        <servlet-class>controller.PermissionGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListEmployees</servlet-name>
        <servlet-class>controller.Admin.ListEmployees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployees</servlet-name>
        <servlet-class>controller.Admin.UpdateEmployees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployees</servlet-name>
        <servlet-class>controller.Admin.DeleteEmployees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployees</servlet-name>
        <servlet-class>controller.Admin.AddEmployees</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PermissionGroupController</servlet-name>
        <url-pattern>/PermissionGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListEmployees</servlet-name>
        <url-pattern>/ListEmployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployees</servlet-name>
        <url-pattern>/UpdateEmployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployees</servlet-name>
        <url-pattern>/DeleteEmployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployees</servlet-name>
        <url-pattern>/AddEmployees</url-pattern>
    </servlet-mapping>
</web-app>
